@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #25416c;
}

li,
a,
button {
    font-family: "Montserra", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    /*pousser les éléments vers les cotés : space-between pousser à droite : flex-end*/
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 120px;
    /*margin-right: */
    display: flex;
}



.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}


button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 135, 169, 0.226);
}

.vague {
    opacity: 0.2;
    float: right;
}