<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours 2 post</title>
</head>
<body>
    <form action="/" method="post">
        <label>Quel est ton nom ?</label>
        <input type="text" name="myname" id="">
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>