<a href="/user/add">Ajouter un nom</a>
<h1>Liste des utilisateur</h1>
<ul>
    <% for (let i =0; i < users.length; i++){ %>
    <li><%= users[i].lastName %> <%= users[i].firstName %>
        <a href="/user/update/<%= i %>">Modifier</a>
        <a href="/user/remove/<%= i %>">Effacer</a>
    </li>
    <% } %>
</ul>