<h1>Ajouter un utilisateur</h1>

<form action="/user/new" method="post">
    Nom :
    <input type="text" name="lastName" value="">
    Prénom :
    <input type="text" name="firstName" value="">
    <input type="hidden" name="idUser" value="">
    <input type="submit" value="Sauver">
    <br>
    <br>
</form>
<form action="/user">
    <input type="submit" value="Retour à la liste">
</form>